.Home {
  background: black;
  height: calc(100vh - 40px);
  padding-top: 50px;
  font-size: 24px;

}

.HRow {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.halfPage1{
  width: 50%;
  height: 100%;
  border-right: 2px white solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.halfPage2{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home h4 {
  text-align: center;
}

.Home a {
  color: white;
  text-decoration: none;
}

.Home a:hover {
  color: blue
}

@media screen and (max-width: 570px) {
  .HRow {
    flex-direction: column;
  }
  .halfPage1{
    width: 100%;
    border-right: none;
    border-bottom: 2px white solid;
  }
  .halfPage2{
    width: 100%;
  }
  .Home h4 {
    font-size: 12px;
  }
}
