.MyList {
  padding-top: 50px;
  min-height: calc(100vh - 40px);
}

.FavRowList{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px gray dashed;
}

.header {
  text-align: center;
}

.FavRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.FavList {
  width: 50%;
  height: 100%;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}


@media screen and (max-width: 570px) {
  .FavRow {
    flex-direction: column;
  }
  .FavList {
    width: 100%;
  }
  .MyList .singleStock {
    width: 100%;
  }
  .MyList h3 {
    font-size: 15px;
  }
}
