.MyList {
  background: green;
  padding-top: 50px;
  min-height: calc(100vh - 40px);
}

.FavRowList{
  display: flex;
  justify-content: center
}

.header {
  text-align: center;
}

.FavRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.FavList {
  width: 50%;
  height: 100%;
  text-align: center;
  /* position: relative; */
}


.singleStock {
  width: 50%;
  height: 100%;
}
