.NavComponent {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logoStyles {
  margin: 0px;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.ulStyles {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  align-items: center
}

.aStyles {
  padding-Left: 10px;
  padding-right: 10px;
}

Nav a {
  color: black;
  text-decoration: none;
}

Nav a:hover {
  color: blue
}
